* {
    box-sizing: border-box;
  }
  
  html,
  body {
    min-height: 100%;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 850px;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
  }
